# Infrastructure Routing
OLLAMA_HOST=http://<YOUR_LOCAL_VM_OR_LXC_IP>:11434

# Runtime LLM Configuration ('ollama' or 'gemini')
LLM_PROVIDER=ollama # comment if you are using gemini
LLM_MODEL=qwen2.5:14b # comment if you are using gemini
LLM_PROVIDER=gemini # comment if you are using ollama
LLM_MODEL=gemini-2.5-flash # comment if you are using ollama

# Third-Party Secrets
GEMINI_API_KEY=YourGeminiAPIKeyHere
